.dashboard {
    display: flex;
    height: 90vh;
    background-color: #8c8c8f;
    overflow: scroll;
}

.summaryView {
    width: 50vw;
}

.viewControls {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
