.entityGrid {
    margin: 0 auto;
    display: grid;
    width: 65%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.summaryStats {
    padding: 20px;
    background-color: #282c34;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.summaryStats:hover {
    background-color: #303442; /* Dark grey-blue */
    transform: translateY(-5px); /* Slight lift on hover */
}

.summaryStats h3 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 600;
}

.summaryStats p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #adbac7; /* Lighter grey for less important text */
}
