.entityGrid {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.summaryStats {
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
}
