table.statsTable {
    height: 50vh;
    margin: auto;
    border-collapse: collapse; /* Ensures borders between cells are merged */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around table */
    color: #d3dde4;
}

.statsTable th, .statsTable td {
    padding: 12px 15px; /* Padding inside cells for spacing */
    border: 1px solid #333; /* Light grey border for each cell */
    text-align: left; /* Align text to the left within cells */
}

.statsTable th {
    background-color: #282c34;
    color: #ccc;
    font-weight: bold;
}

.statsTable tbody tr {
  background-color: #373b45;
}

.statsTable tbody tr:nth-child(even) {
  background-color: #282c34; /* Zebra striping for rows */
}

.statsTable tbody tr:hover {
  background-color: #303442;
}

.statsTable caption {
  font-size: larger; /* Larger text for the caption */
  margin: 10px; /* Space around the caption */
}
